nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-left: 65px;
    margin-bottom: 50px;
    background-color: #FFFFFF;
}

.nav-links{

}

nav ul {
    list-style: none;
}

    nav ul li a {
        color: #000000;
        font-size: 30px;
        text-decoration: none;
    }

nav a:hover {
    color: #0CACF0;
    text-decoration: none;
}

.logo a{
    color: #000000;
    text-decoration: none;
}

.logo a:hover {
    color: #0CACF0;
}

.logo a h4 {
    font-size: 35px;
    }

.projetos {
    text-align: center;
    margin-bottom: 30px;
}

    .projetos a {
        color: #0CACF0;
    }

    .projetos a:hover {
        text-decoration: none;
    }

.habilidades{
    list-style: none;
}

.objetivos {
    text-align: center;
    padding-bottom: 30px;
}

    .objetivos ul {
        padding: 0;
        list-style: none;
    }

    .objetivos h4 {
        margin-top: 20px;
        text-align: left;
    }

.projetos {
    margin-top: 20px;
}

    .projetos h4 {
        align-content: start;
        display: flex;
        margin-left: 20px;
    }

.whatsapp {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.whatsapp h5 {
    margin-top: 5px;
    margin-left: 10px;
}

.email {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .email h5 {
        margin-top: 5px;
        margin-left: 10px;
    }

.github {
    margin-bottom: 10px;
}

    .github a {
        color: #0CACF0;
    }

        .github a:hover {
            text-decoration: none;
        }

.linkedin {
    margin-bottom: 10px;
}

    .linkedin a {
        color: #0CACF0;
    }

    .linkedin a:hover {
        text-decoration: none;
    }