body {
    background-image: linear-gradient(#02041A, #000000);
}

/* Light mode */

body.light{
    background: #FFFFFF;
    color: #000000;
}

body.light a {
    color: #000000;
}

body.light ul li {
    color: #000000;
}

body.light #light-button {
    background: white;
    color: #000000;
}

body.light #texto h2{
    color: #000000;
}

body.light #texto h3 {
    color: #000000;
}

body.light #texto h5 {
    color: #000000;
}

body.light #texto{
    color: #000000;
}

body.light #texto a:hover {
    color: #000000;
}


/*Nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25rem 1.25rem 3.125rem 4rem;
}

.nav-links{
    display: flex;
    padding-right: 200px;
    margin-top: 3px;
}

nav ul {
    list-style: none;
}

    nav ul li a {
        font-size: 30px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 40px;
        font-size: 30px;
    }

/* Theme button */

#light-button {
    background: transparent;
    height: 40px;
    width: 55px;
    color: white;
    text-decoration: none;
    border: none;
    align-items: center;
    margin: 0.5rem 0 0 40px;
}

#light-button:hover {
    transition: 0.5s;
    color: #BE33FF;
}

#light-button:focus {
    outline: none;
    box-shadow: none;
}

nav a:hover {
    transition: 0.5s;
    color: #0CACF0;
    text-decoration: none;
}

.logo {
    padding-left: 200px;
}

.logo a {
    color: #FFFFFF;
    text-decoration: none;
}

.logo a:hover {
    transition: 0.5s;
    color: #0CACF0;
}

.logo a h4 {
    font-size: 35px;
    }

/*Footer*/
.contato {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.contato-label {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}


.whatsapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 165px;
    padding-right: 150px;
}

    .whatsapp h5 {
        margin-top: 5px;
        margin-left: 10px;
    }

.whatsapp-label {
    padding-left:10px;
    color: #FFFFFF;
}

.whatsapp-info {
    display: flex;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .email h5 {
        margin-top: 5px;
        margin-left: 10px;
    }

.email-label {
    color: #FFFFFF;
}

.email-info {
    display: flex;
    padding-left: 5px;
}

.github {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 260px;
    padding-right: 360px;
}

    .github a {
        color: #0CACF0;
    }

        .github a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.github-info {
    padding-left: 5px;
}

.linkedin {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .linkedin a {
        color: #0CACF0;
    }

        .linkedin a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.linkedin-info{
    padding-left: 5px;
}

/*Index*/

.projetos {
    text-align: center;
    margin-top: 40px;
    justify-content: space-between;
}

    .projetos a {
        color: #0CACF0;
    }

        .projetos a:hover {
            text-decoration: none;
        }

.projetos h2 {
    color: #FFFFFF;
}

.projetos-itens {
    display: flex;
    justify-content: start;
}

    .pizzaria-label a:hover {
        transition: 0.5s;
        color: #FFFFFF;
    }

.artGStore {
    padding-left: 80px;
}

    .artGStore a:hover {
        transition: 0.5s;
        color: #FFFFFF;
    }

.toDoUI {
    padding-left: 80px;
}

.toDoUI a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.demos a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.quinto-projeto {
    padding-left: 80px;
}

.quinto-projeto a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.sexto-projeto {
    padding-left: 80px;
}

.sexto-projeto a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.imagens-index {
    height: 200px;
    width: 320px;
}

.linguagens-label {
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
}

.conhecimentos {
    margin: 2rem 0 0 0;
    text-align: center;
    color: #FFFFFF;
}

.voltar-button a {
    display: inline-flex;
    height: 40px;
    width: 75px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(#2135DB, #070D39);
    border-radius: 5px;
    padding: 0 14px;
    border: none;
    align-items: center;
    margin-top: 40px;
}

        .voltar-button a:hover {
        transition: 0.5s;
        background: #FFFFFF;
        color: #33C7FF;
    }

#toggle-button {
    height: 50px;
    width: 100px;
    align-self: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(#2135DB, #070D39);
    border-radius: 5px;
    padding: 0 14px;
    border: none;
    align-items: center;
    margin-top: 20px;
}

    #toggle-button:hover {
        transition: 0.5s;
        background: #FFFFFF;
        color: #33C7FF;
    }

#toggle-button:focus {
    outline: none;
    box-shadow: none;
}

.toggle-button-div {
    text-align: center;
}

.imagens-label {
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}

/* Projetos */

.layout {
    margin-bottom: 30px;
    text-align: center;
}

.layout h3 {
    color: #FFFFFF;
}

.descricao {
    margin-bottom: 30px;
}

.descricao h3 {
    color: #FFFFFF;
}

.imagens {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.github-link {
    margin-bottom: 50px;
    text-align: center;
}

    .github-link a {
        color: #0CACF0;
    }

        .github-link a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.tecnologias {
    text-align: center;
    color: #FFFFFF;
}

.carousel {
    width: 100%;
    height: 60vh;
    position: relative;
    margin-bottom: 40px;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms; 
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    background: none;
    border: none;
    font-size: 4rem;
    top: 55%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem .6rem;
    background-color: rgba(0, 0, 0, .3);
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}