body {
    background: #0f131a;
}

/* Light mode */

body.light{
    background: #FFFFFF;
    color: black;
}

body.light a {
    color: black;
}

body.light ul li {
    color: black;
}

body.light .linguagensLabel {
    color: black;
}

body.light .whatsappLabel {
    color: black;
}

body.light .emailLabel {
    color: black;
}

body.light .layout h3 {
    color: black;
}

body.light .descricao h3 {
    color: black;
}

body.light .tecnologias h5 {
    color: black;
}

body.light .projetos h2 {
    color: black;
}

body.light .contatoLabel h2 {
    color: black;
}

body.light #lightButton {
    background: white;
    color: black;
}

body.light .pizzariaLabel a:hover {
    color: #000000;
}

body.light .artGStore a:hover {
    color: #000000;
}

body.light .toDoUI a:hover {
    color: #000000;
}

body.light .demos a:hover {
    color: #000000;
}

body.light .quintoProjeto a:hover {
    color: #000000;
}

body.light .sextoProjeto a:hover {
    color: #000000;
}

body.light .linkedin a:hover {
    color: #000000;
}

body.light .github a:hover {
    color: #000000;
}

body.light .imagensLabel h2 {
    color: #000000;
}

body.light .githubLink a:hover {
    color: #000000;
}


/*Nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    margin-left: 65px;
    margin-bottom: 50px;
}

.nav-links{
    display: flex;
    padding-right: 200px;
    margin-top: 3px;
}

nav ul {
    list-style: none;
}

    nav ul li a {
        font-size: 30px;
        color: #FFFFFF;
        text-decoration: none;
        margin-left: 40px;
        font-size: 30px;
    }

/* Theme button */

#lightButton {
    height: 40px;
    width: 55px;
    color: white;
    background: #0f131a;
    font-weight: bold;
    text-decoration: none;
    border: none;
    align-items: center;
    margin-left: 40px;
}

#lightButton:hover {
    transition: 0.5s;
    color: #BE33FF;
}

#lightButton:focus {
    outline: none;
    box-shadow: none;
}

nav a:hover {
    transition: 0.5s;
    color: #0CACF0;
    text-decoration: none;
}

.logo {
    padding-left: 200px;
}

.logo a {
    color: #FFFFFF;
    text-decoration: none;
}

.logo a:hover {
    transition: 0.5s;
    color: #0CACF0;
}

.logo a h4 {
    font-size: 35px;
    }

/*Footer*/
.contato {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.contatoLabel {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}


.whatsapp {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 165px;
    padding-right: 150px;
}

    .whatsapp h5 {
        margin-top: 5px;
        margin-left: 10px;
    }

.whatsappLabel {
    padding-left:10px;
    color: #FFFFFF;
}

.whatsappInfo {
    display: flex;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

    .email h5 {
        margin-top: 5px;
        margin-left: 10px;
    }

.emailLabel {
    color: #FFFFFF;
}

.emailInfo {
    display: flex;
    padding-left: 5px;
}

.github {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 260px;
    padding-right: 360px;
}

    .github a {
        color: #0CACF0;
    }

        .github a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.githubInfo {
    padding-left: 5px;
}

.linkedin {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

    .linkedin a {
        color: #0CACF0;
    }

        .linkedin a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.linkedinInfo{
    padding-left: 5px;
}

/*Index*/

.projetos {
    text-align: center;
    margin-top: 40px;
    justify-content: space-between;
}

    .projetos a {
        color: #0CACF0;
    }

        .projetos a:hover {
            text-decoration: none;
        }

.projetos h2 {
    color: #FFFFFF;
}

.projetosItems {
    display: flex;
    justify-content: start;
}

    .pizzariaLabel a:hover {
        transition: 0.5s;
        color: #FFFFFF;
    }

.artGStore {
    padding-left: 80px;
}

    .artGStore a:hover {
        transition: 0.5s;
        color: #FFFFFF;
    }

.toDoUI {
    padding-left: 80px;
}

.toDoUI a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.demos a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.quintoProjeto {
    padding-left: 80px;
}

.quintoProjeto a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.sextoProjeto {
    padding-left: 80px;
}

.sextoProjeto a:hover {
    transition: 0.5s;
    color: #FFFFFF;
}

.ImagensIndex {
    height: 200px;
    width: 320px;
}

.linguagensLabel {
    text-align: center;
    margin-top: 30px;
    color: #FFFFFF;
}

.conhecimentos {
    color: #FFFFFF;
}

.voltarButton a {
    display: inline-flex;
    height: 40px;
    width: 75px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: #33C7FF;
    border-radius: 5px;
    padding: 0 14px;
    border: none;
    align-items: center;
    margin-top: 40px;
}

        .voltarButton a:hover {
        transition: 0.5s;
        background: #FFFFFF;
        color: #33C7FF;
    }

#toggleButton {
    height: 50px;
    width: 100px;
    align-self: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    background: #33C7FF;
    border-radius: 5px;
    padding: 0 14px;
    border: none;
    align-items: center;
    margin-top: 20px;
}

    #toggleButton:hover {
        transition: 0.5s;
        background: #FFFFFF;
        color: #33C7FF;
    }

#toggleButton:focus {
    outline: none;
    box-shadow: none;
}

.toggleButtonDiv {
    text-align: center;
    margin-bottom: 50px;
}

.imagensLabel {
    text-align: center;
    margin-top: 50px;
    color: #FFFFFF;
}

/* Projetos */

.layout {
    margin-bottom: 30px;
    text-align: center;
}

.layout h3 {
    color: #FFFFFF;
}

.descricao {
    margin-bottom: 30px;
}

.descricao h3 {
    color: #FFFFFF;
}

.imagens {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.githubLink {
    margin-bottom: 50px;
    text-align: center;
}

    .githubLink a {
        color: #0CACF0;
    }

        .githubLink a:hover {
            text-decoration: none;
            transition: 0.5s;
            color: #FFFFFF;
        }

.tecnologias {
    color: #FFFFFF;
}