@page
@model Portfolio.Pages.Projetos.ArtGStoreModel
@{
}

<div class="layout" id="texto">
	<h3>
		ArtGStore
	</h3>
</div>

<div class="descricao" id="texto">
	<h3>
		ArtGStore foi criada utilizando Windows Forms, a aplicação tem como principio uma loja de venda de jogos.
		A aplicação tem um sistema CRUD para que o usuário consiga listar jogos, suas categorias e tambem assinaturas.
		Existe um sistema de autenticação de usuário para que somente usuários com login e senha consigam ter acesso as 
		informações do banco de dados.
	</h3>
</div>
<hr />

<div class="imagens-label" id="texto">
	<h2>
		Imagens
	</h2>
</div>

<div class="toggle-button-div">
	<button type="button" id="toggle-button" class="btn-primary">
		Mostrar
	</button>
</div>
<div class="lista-de-imagens">
	<div class="carousel" data-carousel>
		<button class="carousel-button prev" data-carousel-button="prev">&#8249;</button>
		<button class="carousel-button next" data-carousel-button="next">&#8250;</button>
		<ul data-slides>
			<li class="slide" data-active>
				<img class="imagens" src="~/img/ArtGStore/assinaturasForm.png" alt="assinaturas" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/ArtGStore/Index.png" alt="pagina inicial" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/ArtGStore/listarAssinaturasForm.png" alt="lista" />
			</li>
		</ul>
	</div>
</div>

<br />
<div>
	<div class="layout" id="texto">
		<h3>
			Tecnologias utilizadas
		</h3>
	</div>

	<div class="tecnologias" id="texto">
		<div>
			<h5>
				Windows Forms
			</h5>
		</div>

		<div>
			<h5>
				SQL Server
			</h5>
		</div>

		<div>
			<h5>
				Dapper
			</h5>
		</div>
	</div>
</div>
<hr />


<div class="github-link" id="texto">
	<a href="https://github.com/Arthuthu/ArtGStore">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center" id="voltar-button">
	<div class="voltar-button">
		<a asp-page="/Index" class="voltar-button">Voltar</a>
	</div>
</div>
