@page
@model Portfolio.Pages.Projetos.DemosModel
@{
}

<div class="layout" id="texto">
	<h3>
		Demos
	</h3>
</div>

<div class="descricao" id="texto">
	<h3>
		Demos foi uma aplicação que eu aprendi por uma playlist no youtube. O aplicativo tem um sistema de login, onde somente 
		pessoas autenticadas conseguem ter acesso. No aplicativo existe um carrinho com produtos em uma tela WPF, após o usuário do 
		aplicativo confirmar a compra dos produtos, uma API pega os dados e envia para um banco de dados (SQL Server).
	</h3>
</div>
<hr />

<div class="imagens-label" id="texto">
	<h2>
		Imagens
	</h2>
</div>

<div class="toggle-button-div">
	<button type="button" id="toggle-button" class="btn-primary">
		Mostrar
	</button>
</div>

<br/>
<div class="lista-de-imagens">
	<div class="carousel" data-carousel>
		<button class="carousel-button prev" data-carousel-button="prev">&#8249;</button>
		<button class="carousel-button next" data-carousel-button="next">&#8250;</button>
		<ul data-slides>
			<li class="slide" data-active>
				<img class="imagens" src="~/img/Demos/Cart.png" alt="carrinho" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/Demos/Login.png" alt="login" />
			</li>
		</ul>
	</div>
</div>

<br/>
<div>
	<div class="layout" id="texto">
		<h3>
			Tecnologias utilizadas
		</h3>
	</div>

	<div class="tecnologias" id="texto">
		<div>
			<h5>
				ASP.NET Core
			</h5>
		</div>

		<div>
			<h5>
				API
			</h5>
		</div>

		<div>
			<h5>
				WPF
			</h5>
		</div>

		<div>
			<h5>
				SQL Server
			</h5>
		</div>
	</div>
</div>
<hr />

<br/>
<div class="github-link" id="texto">
	<a href="https://github.com/Arthuthu/Demos">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center">
	<div class="voltar-button" id="texto">
		<a asp-page="/Index" class="voltar-button">Voltar</a>
	</div>
</div>