@page
@model Portfolio.Pages.Projetos.PizzariaNETCoreModel
@{
}

<div class="layout" id="texto">
	<h3>
		Pizzaria (.NET Core)
	</h3>
</div>

<div class="descricao" id="texto">
	<h3>
		Esse site pizzaria foi feito em .NET Core aplicando principios SOLID, Dry, Kiss, Yagni.
		Com o site é possivel fazer um CRUD no cardápio, no código foi utilizado logging e testes unitários para simular uma aplicação real.
	</h3>
</div>
<hr />

<div class="imagens-label" id="texto">
	<h2>
		Imagens
	</h2>
</div>

<div class="toggle-button-div">
	<button type="button" id="toggle-button" class="btn-primary">
		Mostrar
	</button>
</div>
<br />

<div class="lista-de-imagens">
	<div class="carousel" data-carousel>
		<button class="carousel-button prev" data-carousel-button="prev">&#8249;</button>
		<button class="carousel-button next" data-carousel-button="next">&#8250;</button>
		<ul data-slides>
			<li class="slide" data-active>
				<img src="~/img/pizzaria(.netcore)/index.png" />
			</li>

			<li class="slide">
				<img src="~/img/pizzaria(.netcore)/index(2).png" />
			</li>

			<li class="slide">
				<img src="~/img/pizzaria(.netcore)/cardapioindex.png" />
			</li>

			<li class="slide">
				<img src="~/img/pizzaria(.netcore)/update.png" />
			</li>

			<li class="slide">
				<img src="~/img/pizzaria(.netcore)/delete.png" />
			</li>
		</ul>
	</div>
</div>
<br />

<div>
	<div class="layout" id="texto">
		<h3>
			Tecnologias utilizadas
		</h3>
	</div>

	<div class="tecnologias" id="texto">
		<div>
			<h5>
				ASP.NET Razor Pages (.NETCore)
			</h5>
		</div>

		<div>
			<h5>
				SQL Server
			</h5>
		</div>

		<div>
			<h5>
				HTML
			</h5>
		</div>

		<div>
			<h5>
				CSS
			</h5>
		</div>

		<div>
			<h5>
				Dapper
			</h5>
		</div>

		<div>
			<h5>
				XUnit
			</h5>
		</div>
	</div>
</div>
<hr />

<div class="github-link" id="texto">
	<a href="https://github.com/Arthuthu/PizzariaSite">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="proximo-anterior-div">
	<div>
		<a asp-page="/Projetos/Demos" class="proximo-anterior-button" id="voltar-button">Anterior</a>
	</div>
	<div>
		<a asp-page="/Projetos/Pizzaria" class="proximo-anterior-button" id="voltar-button">Próximo</a>
	</div>
</div>

<div class="text-center">
	<div>
		<a asp-page="/Index" class="voltar-button" id="voltar-button">Voltar</a>
	</div>
</div>
