@page
@model Portfolio.Pages.Projetos.PizzariaModel
@{
}

<div class="layout" id="texto">
	<h3>
		Pizzaria
	</h3>
</div>

<div class="descricao" id="texto">
	<h3>
		Neste projeto foi feito um site de uma pizzaria onde se vende pizzas e esfihas. 
		No site o admin consegue realizar as operações do CRUD tanto para uma lista de pizzas quanto para esfihas
		onde a data é salva no SQL Server.
	</h3>
</div>
<hr />


<div class="imagens-label" id="texto">
	<h2>
		Imagens
	</h2>
</div>

<div class="toggle-button-div">
	<button type="button" id="toggle-button" class="btn-primary">
		Mostrar
	</button>
</div>

<br/>
<div class="lista-de-imagens">
	<div class="carousel" data-carousel>
		<button class="carousel-button prev" data-carousel-button="prev">&#8249;</button>
		<button class="carousel-button next" data-carousel-button="next">&#8250;</button>
		<ul data-slides>
			<li class="slide" data-active>
				<img class="imagens" src="~/img/Pizzaria/Index.png" alt="pagina-inicial" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/Pizzaria/List.png" alt="lista" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/Pizzaria/Create.png" alt="criar" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/Pizzaria/Detalhes.png" alt="detalhes" />
			</li>

			<li class="slide">
				<img class="imagens" src="~/img/Pizzaria/Deletar.png" alt="deletar" />
			</li>
		</ul>
	</div>
</div>

<br/>
<div>
	<div class="layout" id="texto">
		<h3>
			Tecnologias utilizadas
		</h3>
	</div>

	<div class="tecnologias" id="texto">
		<div>
			<h5>
				ASP.NET MVC (.Net Framework)
			</h5>
		</div>

		<div>
			<h5>
				SQL Server
			</h5>
		</div>

		<div>
			<h5>
				HTML
			</h5>
		</div>

		<div>
			<h5>
				CSS
			</h5>
		</div>

		<div>
			<h5>
				Dapper
			</h5>
		</div>
	</div>
</div>
<hr />

<br/>
<div class="github-link"id="texto">
	<a href="https://github.com/Arthuthu/Topicos2">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center" id="texto">
	<div class="voltar-button">
		<a asp-page="/Index" class="voltar-button">Voltar</a>
	</div>
</div>

