@page
@model Portfolio.Pages.Projetos.ToDoUIModel
@{
}

<div class="layout">
	<h3>
		ToDoUI
	</h3>
</div>

<div class="descricao">
	<h3>
		ToDoUI é uma permite que você consiga lembrar dos seus objetivos, você pode colocar os objetivos como Short Term, Mid Term
		Long Term e marcar como finalizado assim que você termina-lo. A intenção do aplicativo é fazer com que o usuário
		lembre-se dos seus objetivos e os coloquem em ordem de prioridade.
	</h3>
</div>
<hr />

<div class="imagensLabel">
	<h2>
		Imagens
	</h2>
</div>

<div class="toggleButtonDiv">
	<button type="button" id="toggleButton" class="btn-primary">
		Mostrar
	</button>
</div>

<br/>
<div class="listaDeImagens">
	<div class="layout">
		<h3>
			Mid Term Goals
		</h3>
		<img  class="imagens" src="~/img/ToDoUI/Index.png"/>
	<hr/>
	</div>

	<div class="layout">
		<h3>
			Objetivos finalizados
		</h3>
		<img  class="imagens" src="~/img/ToDoUI/completedScreen.png"/>
		<hr/>
	</div>
</div>

<br/>
<div>
	<div class="layout">
	<h3>
		Tecnologias utilizadas
	</h3>
	</div>
		<div class="tecnologias">
			<div>
				<h5>
					Windows Forms
				</h5>
			</div>

			<div>
				<h5>
					SQL Server
				</h5>
			</div>

			<div>
				<h5>
					Dapper
				</h5>
			</div>
		</div>		
</div>
<hr />

<br/>
<div class="githubLink">
	<a href="https://github.com/Arthuthu/ToDoUI">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center">
	<div class="voltarButton">
		<a asp-page="/Index" class="voltarButton">Voltar</a>
	</div>
</div>
