<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio - Arthur</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" media="screen and (max-width:768px)" href="~/css/mobile.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a asp-area="" asp-page="/Index">
                    <h4>
                        Meu Portfolio
                    </h4>
                </a>
            </div>
            <div class="nav-links">
                <ul class="nav-links">
                    <li>
                        <h3>
                            <a asp-area="" asp-page="/Index">Inicio</a>
                        </h3>
                    </li>
                    <li>
                        <h3>
                            <i class="fa-solid fa-moon" id="light-button"></i>
                        </h3>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

<footer class="border-top footer text-muted">
    <div class="container">
        
        <div class="contato-label" id="texto">
	        <h2>Contato</h2>
        </div>

        <div class="contato">
            <div class="whatsapp">
                <div>
                    <i class="fa-brands fa-whatsapp fa-2x"></i>
                </div>

                <div class="whatsapp-info">
                    <h3 class="whatsapp-label" id="texto">Whatsapp:</h3> <h5>(17)99782-4891</h5>
                </div>
            </div>

            <div class="email">
                <div>
                    <i class="fa-solid fa-envelope fa-2x"></i>
                </div>

                <div class="email-info">
                    <h3 class="email-label" id="texto">Email:</h3> <h5>arthurgeromello@hotmail.com</h5>
                </div>
            </div>
        </div>


        <div class="contato">
                <div class="github" id="texto">
                <div>
                     <i class="fa-brands fa-github fa-2x"></i>
                </div>

                <div class="github-info">
                    <h3><a href="https://github.com/Arthuthu">Github</a></h3>
                </div>
            </div>

            <div class="linkedin" id="texto">
                <div>
                    <i class="fa-brands fa-linkedin fa-2x"></i> 
                </div>

                <div class="linkedin-info">
                    <h3><a href="https://www.linkedin.com/in/arthur-geromello-ab44a8159/">Linkedin</a></h3>
                </div>
            </div>	
        </div>
    </div>
</footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/dark-light-mode.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a077060aed.js" crossorigin="anonymous"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
