@page
@model Portfolio.Pages.ArtGStoreModel
@{
}

<div class="layout">
	<h3>
		ArtGStore
	</h3>
</div>

<div class="descricao">
	<h3>
		ArtGStore foi criada utilizando Windows Forms, a aplicação tem como principio uma loja de venda de jogos.
		A aplicação tem um sistema CRUD para que o usuário consiga listar jogos, suas categorias e tambem assinaturas.
		Existe um sistema de autenticação de usuário para que somente usuários com login e senha consigam ter acesso as 
		informações do banco de dados.
	</h3>
</div>
<hr />

<br/>
<div>
	<div class="layout">
		<h3>
			Página Inicial
		</h3>
		<img  class="pizzariaImagens" src="~/img/ArtGstore/Index.png"/>
	<hr/>
	</div>

	<div class="pizzaria">
		<h3>
			Tela de Assinaturas
		</h3>
		<img  class="pizzariaImagens" src="~/img/ArtGStore/assinaturasForm.png"/>
		<hr/>
	</div>

	<div class="layout">
		<h3>
			Listar assinaturas
		</h3>
		<img  class="pizzariaImagens" src="~/img/ArtGStore/listarAssinaturasForm.png"/>
		<hr/>
	</div>
</div>

<div>
	<div class="layout">
	<h3>
		Tecnologias utilizadas
	</h3>
	</div>

	<div>
		<h5>
			Windows Forms
		</h5>
	</div>

	<div>
		<h5>
			SQL Server
		</h5>
	</div>

	<div>
		<h5>
			Dapper
		</h5>
	</div>
</div>
<hr />


<div class="githubPizzaria">
	<a href="https://github.com/Arthuthu/ArtGStore">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center">
	<div class="voltarButton">
		<a asp-page="/Index" class="voltarButton">Voltar</a>
	</div>
</div>
