@page
@model Portfolio.Pages.DemosModel
@{
}

<div class="layout">
	<h3>
		Demos
	</h3>
</div>

<div class="descricao">
	<h3>
		Demos não foi um aplicativo feito por mim, foi um tutorial que eu segui no youtube, porem eu o levo em consideração
		pois eu digitei todo o código e ganhei um conhecimento fazendo isto.
		O aplicativo tem um sistema de login, onde somente pessoas autenticadas conseguem ter acesso.
		No aplicativo existe um carrinho com produtos em uma tela WPF, após o usuário do aplicativo confirmar a compra dos 
		produtos, uma API pega os dados e envia para um banco de dados (SQL Server)
	</h3>
</div>
<hr />

<br/>
<div>
	<div class="layout">
		<h3>
			Tela de Login
		</h3>
		<img  class="imagens" src="~/img/Demos/Login.png"/>
	<hr/>
	</div>

	<div class="layout">
		<h3>
			Carrinho
		</h3>
		<img  class="imagens" src="~/img/Demos/Cart.png"/>
		<hr/>
	</div>
</div>

<br/>
<div>
	<div class="layout">
	<h3>
		Tecnologias utilizadas
	</h3>
	</div>

	<div>
		<h5>
			C#
		</h5>
	</div>

	<div>
		<h5>
			API
		</h5>
	</div>

	<div>
		<h5>
			WPF
		</h5>
	</div>

	<div>
		<h5>
			SQL Server
		</h5>
	</div>
</div>
<hr />

<br/>
<div class="githubPizzaria">
	<a href="https://github.com/Arthuthu/Demos">
		<h1>
			Link Github
		</h1>
	</a>
</div>

<div class="text-center">
	<div class="voltarButton">
		<a asp-page="/Index" class="voltarButton">Voltar</a>
	</div>
</div>