@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="projetos" id="texto">
    <h2>Meus projetos</h2>

    <div class="projetos" id="texto">
        <div class="projetos-itens">

            <div>
                <h4 class="pizzaria-label" id="texto">
                    <a asp-page="/Projetos/Pizzaria">Pizzaria</a>
                </h4>

                <a asp-page="/Projetos/Pizzaria">
                    <img class="imagens-index" src="~/img/Pizzaria/Index.png" />
                </a>
            </div>

            <div class='artGStore' id="texto">
                <h4>
                    <a asp-page="/Projetos/ArtGStore">ArtGStore</a>
                </h4>

                <a asp-page="/Projetos/ArtGStore">
                    <img class="imagens-index" src="~/img/ArtGStore/assinaturasForm.png" />
                </a>
            </div>

            <div class="toDoUI" id="texto">
                <h4>
                    <a asp-page="/Projetos/ToDoUI">ToDoUI</a>
                </h4>

                <a asp-page="/Projetos/ToDoUI">
                    <img class="imagens-index" src="~/img/ToDoUI/Index.png" />
                </a>
            </div>
        </div>
    </div>

    <div class="projetos" id="texto">
        <div class="projetos-itens">
            <div class="demos" id="texto">
                <h4>
                    <a asp-page="/Projetos/Demos">Demos</a>
                </h4>

                <a asp-page="/Projetos/Demos">
                    <img class="imagens-index" src="~/img/Demos/Cart.png" />
                </a>
            </div>

            <div class="quinto-projeto" id="texto">
                <h4>
                    <a asp-page="/Index">Em breve</a>
                </h4>

                <a asp-page="/Index">
                    <img class="imagens-index" src="~/img/emBreve.png" />
                </a>
            </div>

            <div class="sexto-projeto" id="texto">
                <h4>
                    <a asp-page="/Index">Em breve</a>
                </h4>

                <a asp-page="/Index">
                    <img class="imagens-index" src="~/img/emBreve.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>

<div>
    <h2 class="linguagens-label" id="texto">Conhecimentos</h2>
    <div class="conhecimentos">
            <div>
                <h5>C#</h5>
            </div>

            <div>
                <h5>SQL Server</h5>
            </div>

            <div>
                <h5>HTML</h5>
            </div>

            <div>
                <h5>CSS</h5>
            </div>

            <div>
                <h5>Javascript</h5>
            </div>

            <div>
                <h5>Bootstrap</h5>
            </div>

            <div>
                <h5>Dapper</h5>
            </div>
    </div>
</div>
<br/>
