@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="projetos">
    <h2>Meus projetos</h2>

    <div class="projetos">
        <div class="projetosLabel">
            <h4 class="pizzariaLabel">
                <a asp-page="/Pizzaria">Pizzaria</a>
            </h4>

            <h4 class="artGStore">
                <a asp-page="/ArtGStore">ArtGStore</a>
            </h4>

            <h4 class="toDoUI">
                <a asp-page="/ToDoUI">ToDoUI</a>
            </h4>
        </div>
        <div class="projetosImg">
            <a asp-page="/Pizzaria">
                <img class="ImagensIndex" src="~/img/Pizzaria/Index.png"/>
            </a>

            <a asp-page="/ArtGStore">
                <img class="ImagensIndex" src="~/img/ArtGStore/assinaturasForm.png"/>
            </a>
            
            <a asp-page="/ToDoUI">
                <img class="ImagensIndex" src="~/img/ToDoUI/Index.png"/>
            </a>
        </div>
    </div>

    <div class="projetos">
        <div class="projetosLabel">
            <h4  class="demos">
                <a asp-page="/Demos">Demos</a>
            </h4>

            <h4 class="quintoProjeto">
                <a asp-page="/Index">Em breve</a>
            </h4>

            <h4 class="sextoProjeto">
                <a asp-page="/Index">Em breve</a>
            </h4>
        </div>
        <div class="projetosImg">
            <a asp-page="/Demos">
                <img class="ImagensIndex" src="~/img/Demos/Cart.png"/>
            </a>

            <a asp-page="/Index">
                <img class="ImagensIndex" src="~/img/emBreve.png"/>
            </a>

            <a asp-page="/Index">
                <img class="ImagensIndex" src="~/img/emBreve.png"/>   
            </a>
        </div>
    </div>
</div>
<br/>
<hr/>

<div>
    <h2 class="linguagensLabel">Conhecimentos</h2>
    <div class="conhecimentos">
        <ul>
            <li>
                <h5>C#</h5>
            </li>

            <li>
                <h5>SQL Server</h5>
            </li>

            <li>
                <h5>HTML</h5>
            </li>

            <li>
                <h5>CSS</h5>
            </li>

            <li>
                <h5>Javascript</h5>
            </li>

            <li>
                <h5>Bootstrap</h5>
            </li>
            <li>
                <h5>Dapper</h5>
            </li>
        </ul>
    </div>
</div>
<br/>
