@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/style.css" />

<div class="projetos">
    <h2>Meus projetos</h2>
    <div>

    </div>
</div>

<div class="habilidades">
    <h2>Minhas habilidades</h2>
    <div>
        <h4>Sou um desenvolver focado em C#, tenho conhecimento em SQL Sever, HTML e CSS.</h4>
    </div>
</div>

<div class="objetivos">
    <h2>Meus objetivos</h2>
    <div>
        <ul>
            <li>
                <h4>Expandir o meu conhecimento em C#, me tornando proficiente na linguagem.</h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Ganhar experiência na area de desenvolvimento Web/Desktop.</h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Estar atualizado com novas tecnologias.</h4>
            </li>
        </ul>
        <ul>
            <li>
                <h4>Focar no desenvolvimento de projetos para suprir expectativas.</h4>
            </li>
        </ul>
    </div>
</div>
