@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="projetos">
    <h2>Meus projetos</h2>

    <div class="projetos">
        <div class="projetosItems">

            <div>
                <h4 class="pizzariaLabel">
                    <a asp-page="/Projetos/Pizzaria">Pizzaria</a>
                </h4>

                <a asp-page="/Projetos/Pizzaria">
                    <img class="ImagensIndex" src="~/img/Pizzaria/Index.png" />
                </a>
            </div>

            <div class='artGStore'>
                <h4>
                    <a asp-page="/Projetos/ArtGStore">ArtGStore</a>
                </h4>

                <a asp-page="/Projetos/ArtGStore">
                    <img class="ImagensIndex" src="~/img/ArtGStore/assinaturasForm.png" />
                </a>
            </div>

            <div class="toDoUI">
                <h4>
                    <a asp-page="/Projetos/ToDoUI">ToDoUI</a>
                </h4>

                <a asp-page="/Projetos/ToDoUI">
                    <img class="ImagensIndex" src="~/img/ToDoUI/Index.png" />
                </a>
            </div>
        </div>
    </div>

    <div class="projetos">
        <div class="projetosItems">
            <div class="demos">
                <h4>
                    <a asp-page="/Projetos/Demos">Demos</a>
                </h4>

                <a asp-page="/Projetos/Demos">
                    <img class="ImagensIndex" src="~/img/Demos/Cart.png" />
                </a>
            </div>

            <div class="quintoProjeto">
                <h4>
                    <a asp-page="/Index">Em breve</a>
                </h4>

                <a asp-page="/Index">
                    <img class="ImagensIndex" src="~/img/emBreve.png" />
                </a>
            </div>

            <div class="sextoProjeto">
                <h4>
                    <a asp-page="/Index">Em breve</a>
                </h4>

                <a asp-page="/Index">
                    <img class="ImagensIndex" src="~/img/emBreve.png" />
                </a>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>

<div>
    <h2 class="linguagensLabel">Conhecimentos</h2>
    <div class="conhecimentos">
        <ul>
            <li>
                <h5>C#</h5>
            </li>

            <li>
                <h5>SQL Server</h5>
            </li>

            <li>
                <h5>HTML</h5>
            </li>

            <li>
                <h5>CSS</h5>
            </li>

            <li>
                <h5>Javascript</h5>
            </li>

            <li>
                <h5>Bootstrap</h5>
            </li>
            <li>
                <h5>Dapper</h5>
            </li>
        </ul>
    </div>
</div>
<br/>
