@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="projetosLabel">
    <h2>Meus projetos</h2>

    <div class="projetos">
        <div class="projetosNome">
            <h4>
                <a asp-page="/Pizzaria">Topicos II (Pizzaria)</a>
            </h4>

            <h4 class="artGStore">
                <a asp-page="/ArtGStore">ArtGStore</a>
            </h4>

            <h4 class="projetosNomeFim">
                <a asp-page="/Pizzaria">Topicos II (Pizzaria)</a>
            </h4>
        </div>
        <div class="projetosImg">
            <a asp-page="/Pizzaria">
                <img class="pizzariaImagensIndex" src="~/img/Pizzaria/Index.png"/>
            </a>

            <a asp-page="/Pizzaria">
                <img class="pizzariaImagensIndex" src="~/img/ArtGStore/assinaturasForm.png"/>
            </a>
            
            <img class="pizzariaImagensIndex" src="~/img/Pizzaria/Index.png"/>
        </div>
    </div>

    <div class="projetos">
        <div class="projetosNome">
            <h4>
                <a asp-page="/Pizzaria">Topicos II (Pizzaria)</a>
            </h4>

            <h4 class="projetosNomeMeio">
                <a asp-page="/Pizzaria">Topicos II (Pizzaria)</a>
            </h4>

            <h4 class="projetosNomeFim">
                <a asp-page="/Pizzaria">Topicos II (Pizzaria)</a>
            </h4>
        </div>
        <div class="projetosImg">
            <img class="pizzariaImagensIndex" src="~/img/Pizzaria/Index.png"/>
            <img class="pizzariaImagensIndex" src="~/img/Pizzaria/Index.png"/>
            <img class="pizzariaImagensIndex" src="~/img/Pizzaria/Index.png"/>
        </div>
    </div>
</div>
<br/>
<hr/>

<div>
    <h2 class="linguagensLabel">Meus conhecimentos</h2>
    <div class="habilidades">
        <ul>
            <li>
                <h5>C#</h5>
            </li>

            <li>
                <h5>SQL Server</h5>
            </li>

            <li>
                <h5>HTML</h5>
            </li>

            <li>
                <h5>CSS</h5>
            </li>

            <li>
                <h5>Bootstrap</h5>
            </li>
        </ul>
    </div>
    <hr/>
    <div>
        <div>
            <h2 class="linguagensLabel">O que eu vou aprender</h2>
        </div>
        <div class="habilidades">
            <ul>
                <li>
                    <h5>Javascript</h5>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr/>
<br/>
